.PlanCardContainer{
    box-shadow: 0px 4px 16px 0px rgba(71, 71, 86, 1);
    padding:20px;
    border-radius: 10px;
    width: 12vw;
    display: flex;
    flex-direction: column;
    gap:10px;
}

.PlanPoint{
    font-size: 1.5rem;
}

.PlanPointDisabled{
    color:gray;
}